<h3 style="text-align: center; margin-top: 25px; margin-bottom: 10px;">Log In</h3>

<form action="/admin" method="POST" style="max-width: 600px; margin: 0 auto; padding: 20px; border: 1px solid #ccc; border-radius: 10px;">
  <!-- Name Field -->
  <label for="username" style="display: block; margin-bottom: 10px;">Username:</label>
  <input type="text" id="name" name="username" style="width: 100%; padding: 10px; margin-bottom: 20px; border-radius: 5px; border: 1px solid #ccc;">

  <!-- Email Field -->
  <label for="password" style="display: block; margin-bottom: 10px;">Password:</label>
  <input type="password" id="email" name="password" style="width: 100%; padding: 10px; margin-bottom: 20px; border-radius: 5px; border: 1px solid #ccc;">

  <!-- Submit Button -->
  <input type="submit" value="Login" class="btn" style="width: 100%; padding: 10px; background-color: #040704; color: white; border: none; border-radius: 5px; font-size: 16px;">
</form>


<!-- <h3 style="text-align: center;">Register</h3> -->



<!-- <form action="/register" method="POST" style="max-width: 600px; margin: 0 auto; padding: 20px; border: 1px solid #ccc; border-radius: 10px;">
  <label for="username" style="display: block; margin-bottom: 10px;">Username:</label>
  <input type="text" id="name" name="username" style="width: 100%; padding: 10px; margin-bottom: 20px; border-radius: 5px; border: 1px solid #ccc;">

  <label for="password" style="display: block; margin-bottom: 10px;">Password:</label>
  <input type="password" id="email" name="password" style="width: 100%; padding: 10px; margin-bottom: 20px; border-radius: 5px; border: 1px solid #ccc;">

  <input type="submit" value="Register" class="btn" style="width: 100%; padding: 10px; background-color: #040704; color: white; border: none; border-radius: 5px; font-size: 16px;">
</form> -->